html,
body {
    font-family: monospace;
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

thead {
    background-color: lightgray;
}

th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
    padding-right: 10px;
}

tbody {
    border-bottom: 1px solid black;
}

td {
    padding-right: 10px;
}